@use '../../styles/colors' as c
@use '../../styles/typhographies' as t

.Popup
  width: 228px
  padding: 1rem
  border-radius: 0.5rem
  background-color: c.$white
  display: flex
  flex-direction: column
  gap: 1.5rem
